.div {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  margin-top: 100px;
  color: white;
  margin-left: -950px;
  margin-right: 450px;
}

form {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
}

button {
  background-color: #0095ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
