/* .div{
  margin-top: fixed;
} */
.division {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23.4vh;
    margin: 0;
    background-color: #000000;
    margin-left: -1600px;
  }
  
  .progress-container {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 10px;
  }
  
  .progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 50%);
  }
  
  .progress-fill {
    height: 100%;
    background: linear-gradient(
      to right,
      #2d2d2d,
      #454545,
      #525252,
      #7a7a7a,
      #999999
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: width 0.3s ease-in-out;
  }
  
  .progress-fill1 {
    height: 100%;
    background: linear-gradient(
      to right,
      #371c1c,
      #522c2c,
      #653939,
      #844949,
      #cf9090
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: width 0.3s ease-in-out;
  }
  
  .progress-fill2 {
    height: 100%;
    background: linear-gradient(
      to right,
      #31233e,
      #4f315a,
      #63396e,
      #916a97,
      #c2a9cc
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: width 0.3s ease-in-out;
  }
  
  .progress-fill3 {
    height: 100%;
    background: linear-gradient(
      to right,
      #2a412a,
      #35643c,
      #56915a,
      #a9c5ad,
      #cae7cb
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: width 0.3s ease-in-out;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
  